@import "main";
// Header Styles
header {
  background-color: $darkBlue;
  height: 10px;
}

// Footer Styles
footer {
  background-color: $darkBlue;
  min-height: 150px;
}

.logoImg img{
  height: 70px;
  float: left;
  margin-left: 40px;
  margin-top:10px;
}