// Colors
$darkBlue: #171144;
$teal: #5ec2a4;
$orange: #f69d1d;
$white: #ffffff;
$black: #000000;
$navFontType: sans-serif;
//$titleFontType: sans-serif;
$navFontSize: 13px;
//$titleFontSize: 13px;

// General Styles
body {
  margin:0;
  padding:0;
  background-color: $darkBlue;
}
main {
  min-height: 700px;
  margin:0;
  padding:0;
}

.alignRight {
  float: right;
  padding-right: 50px;
}
