/*.centered {*/
    /*margin: auto;*/
    /*width: 430px;*/
/*}*/
/*.circleNav {*/
    /*height: 100px;*/
    /*width: 100px;*/
    /*background-color: black;*/
    /*float: left;*/
    /*margin: 10px;*/
    /*color: white;*/
    /*padding: 10px;*/
    /*text-align: center;*/
/*}*/

nav {
    background-color: white;
    height: 50px;
}