
// VARIABLES
$darkBlue:#171144;
$orange: #f69d1d;
$teal: #5ec2a4;
$white: #ffffff;
$black: #000000;

/* main menu
----------------------------*/
#ddmenu
{
  display:block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  //text-align:center; /*Specify the alignment of the whole UL if UL is not width:100%;*/
  letter-spacing:normal;
}

#ddmenu ul
{
  //margin:50px auto;
  padding:0;
  //text-align:center; /* Alignment of each top-level menu items within the UL */
  font-size:0;
  display:inline-block;
  list-style:none;
  margin-top:50px;
  position:relative;
  max-width:100%;
}

#ddmenu li
{
  margin:0;
  padding:0;
  font-size:16px;
  display:inline-block;
  *display:inline;
  zoom:1; /*for IE6-7*/
  position:relative;
  color:$white;
  line-height:46px; /*This determines the height of the menu*/
  vertical-align:middle;
  transition:background-color 0.2s;
  outline:none;
  -moz-user-select:none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#ddmenu .full-width {
  position: static;
}

#ddmenu .over
{
  color:#FFF;
  background-color: $teal;
}

#ddmenu .over.no-sub {

}


#ddmenu .top-heading
{
  font-weight:bold;
  margin:0 16px;
  color:inherit;
  text-decoration:none;
  display:inline-block;
  outline:0;
  cursor:pointer;
  text-align: left;
}

/* links of top-heading */
#ddmenu a, #ddmenu a:link, #ddmenu a:hover
{
  color:inherit;
}
#ddmenu a:hover
{
  text-decoration:underline;
}



/* caret(arrow icon) */
#ddmenu .caret
{
  color:inherit;
  left:-12px;
  width: 0;
  height: 0;
  overflow:hidden;/*for IE6*/
  vertical-align:middle;
  margin-bottom:2px;
  border-top: 4px solid;/*caret size is 4px now*/
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  display: inline-block;
  position:relative;
}

/* sub-menu layout
----------------------------*/

#ddmenu .dropdown
{
  width:auto;
  left:0;
  color: $orange;
  padding:0;margin:0;display:none;position:absolute;overflow:hidden;
  top:100%;
  background-color:$teal \9;/*fallback for old IE*/
}

#ddmenu .full-width .dropdown {
  width:100%;
  padding:0;
  margin:0;
}

#ddmenu .offset300 {
  left:-300px;right:auto;
}

#ddmenu .right-aligned {
  left:auto;
  right:0;
}
#ddmenu .left-aligned {
  left:0;
  right:auto;
}

#ddmenu .over .dropdown
{
  display:block;
}

#ddmenu .dd-inner {
  //text-align:center;
  padding:20px;
  margin:16px;
  background-color:$darkBlue;
  white-space:nowrap;
  font-size:13px;
}

#ddmenu ul ul
{
  margin:0;padding:0;text-align:left;width:auto;background:none;border:none;display:block;position:static;z-index:0;border-radius:0;
}

#ddmenu ul ul li
{
  font-size:13px;
  padding:6px 0; /*It determines the line height*/
  color:inherit;
  line-height:1;
  margin:0;display:block;position:static;background:none;border:none;transition:none;border-radius:0;
}

/* links in sub menu
----------------------------*/

#ddmenu .dropdown a
{
  color:$teal;
  line-height:1;
  text-decoration:none;
  transition:color 0.4s;
}

#ddmenu .dropdown a:hover, #ddmenu .dropdown a:focus
{
  text-decoration:none;
  color:$teal;
  font-weight: 600;
}

/* blocks within the sub-menu
-----------------------------*/
#ddmenu .column
{
  text-align:left;
  vertical-align:top;/*or middle*/
  display:inline-block;
  *display:inline;*zoom:1;
  white-space:normal;
  width:auto;min-width:200px;
  padding:0 30px;
  border-right:1px solid $darkBlue;
}

#ddmenu .dd-inner ul:last-child
{
  border-right:none;
}

#ddmenu h3 {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 24px;
}

#ddmenu div.column h3 {text-transform:uppercase;}

/* useful when http://www.menucool.com/ddmenu/one-menu-for-all-pages */
#ddmenuLink {display:none;}

/*######## add additional styles for mobile-friendly responsive menu ########*/

.menu-icon{
  padding-bottom:50px;

}

#ddmenu .menu-icon
{
  margin-top:20px;
  display:none; /* hide menu icon initially */
}




/*styles for mobile*/
@media only screen and (max-width: 700px)
{
  #ddmenu .column.mayHide {
    display:none;
    margin-top:100px;  margin-bottom:50px;
  }

  #ddmenu ul
  {
    background-color: $darkBlue ;
  }

  /*override the original settings*/
  #ddmenu ul {
    width: 100%;
    display: none;
    border-radius:0;

  }

  #ddmenu li {
    position:relative;
    display:block;

    font-size:15px;
    text-align:left;
    border-bottom: 1px solid $darkBlue;
  }

  #ddmenu .full-width {
    position: relative;
  }

  #ddmenu .dropdown {
    position:relative;
    margin-bottom:50px;

    *top:auto;/*for IE7*/
    border:none;
    border-radius:0;
    box-shadow:none;
    background-color:$white;
  }

  #ddmenu .offset300 {
    left:0;
  }

  #ddmenu .full-width .dropdown {
    width: auto;
  }

  #ddmenu .dd-inner
  {
    margin:0;

    background:none;
    text-align:left;
  }

  /*turn each column to list vertically instead of horizontally */
  #ddmenu .column {
    width:auto;
    padding:0;
    border:none;
    display:block;
  }

  /*move the arrow icon to right*/
  #ddmenu .caret {
    position:absolute;
    left:auto;
    right:14px;
    top:20px;
    border-width:5px;
  }


  /* All the following are for the .menu-icon (pure CSS) */
  #ddmenu .menu-icon {
    font-size:32px;/*icon size*/
    display: block;
    position: relative;
    width: 40px;
    height:36px;
    cursor: pointer;
    -moz-user-select:none;
    -webkit-user-select: none;
    background-color: $darkBlue;
    border-radius: 3px;
    color: $white;
    margin-bottom:6px;
    /*align the icon to the right*/
    margin-left: auto;
    margin-right: 11px;
  }

  #ddmenu .menu-icon::before {
    content: "";
    position: absolute;
    top: 0.25em;
    left: 4px;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double $white;
    border-bottom: 0.125em solid $white;
    box-sizing: content-box;
  }

  #ddmenu .menu-icon-active {
    background-color: $darkBlue;
  }

  #ddmenu .menu-icon-active::before {
    border-color: $white;
  ;
  }
}
